/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	pointer-events: auto;
	background-color: #c6f1ff;
	
	font-family: system-ui;
}

header {
	width: 100%;
	text-align: center;
}

header div.login {
	display: block;
	float: left;
}

header div.logo {
	background-color: white;
	width: 60%;
	padding: 10px;
	margin: 50px auto;
	opacity: 60%;
	border: 3px solid purple;
	border-radius: 5px;
}

header h1 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 4em;
	font-color: #3f51b5;
	text-shadow: 2px 2px gray;
}

header h2 {
	font-family: Georgia, serif;
	font-color: blue;
	padding-left: 50px;
}
div.main {
	width: 100%;
}

aside.nav_bar {
	display: inline-block;
	float: left;
	position: relative;
	padding: 20px 0px 0px 10px;
}

aside div.profile {
	display: block;
	background-image: radial-gradient(#fff, #00c0ffad 150%);
	color: black;
	padding: 10px;
	margin: 20px;
	font-weight: bold;
	text-align: center;
	border: 3px solid purple;
	border-radius: 5px;
}

aside.nav_bar a {
	display: block;
	background-image: radial-gradient(#fff, #00c0ffad 150%);
	color: black;
	padding: 10px;
	margin: 20px;
	font-weight: bold;
	text-align: center;
	border: 3px solid purple;
	border-radius: 5px;
}

div.twidconsole {
	float: right;
	background-color: #c6f1ff;
	height: 80%;
	width: 1000px;
	padding: 20px 30px;
}

div.twidconsole .tweetentry {
	font-family: Arial, Helvetica, sans-serif;
	background-image: radial-gradient(#fff, #00c0ffad 125%);
	min-height: 80px;
	/*max-height: 25%;*/
	width: 40%;
	padding: 20px;
	margin: 20px;
	border: 2px solid purple;
	border-radius: 5px;
}

div.twidconsole section {
	font-family: Arial, Helvetica, sans-serif;
	background-image: radial-gradient(#fff, #00c0ffad 125%);
	min-height: 80px;
	/*max-height: 25%;*/
	width: 40%;
	padding: 20px;
	margin: 20px;
	border: 2px solid purple;
	border-radius: 5px;
}

div.twidconsole section a {
	color: royalblue;
}

div.twidconsole section p {
	font-size: 1.25em;
	padding-left: 10px;
}

div.twidconsole section time {
	font-size: 0.8em;
	font-weight: bold;
	float: right;
}

footer {
	width: 100%;
	display: inline-block;
	float: none;
	position: relative;
}

footer h6 {
	text-align: center;
}

@media (hover:hover) {
	div.twidconsole a:hover {
		color: teal;
		cursor: pointer;

	}
	aside.nav_bar a:hover {
		background: white;
		color: #00c0ffad;
		cursor: pointer;
	}
}